@model Cajovna.Models.Ucet

<div id="breadcrumbs">
    <a href="@Url.Action("Index", "Ucet")"><img src="~/Content/Images/arrow_back.png" height="20" width="20" alt="o úroveň výš" /></a>
    @Html.ActionLink("Admin", "Admin", "Home")
    >>
    @Html.ActionLink("Stoly", "Index", "Ucet")
    >>
    @Html.ActionLink("Stůl #" + Model.stulID, "Detail", "Stul", new { id = Model.stulID }, null)
    >>
    @Html.ActionLink("účet #" + Model.ucetID, "Detail", "Ucet", new { id = Model.ucetID }, null)
    >>
    @Html.ActionLink("Smazání záznamu", "Delete", "Ucet", new { id = Model.stulID }, null)
</div>

<h2>Smazat účet #@Model.ucetID</h2>

<form action="/Ucet/Delete/@Model.ucetID" method="post">
    @if (!String.IsNullOrEmpty(ViewBag.errors))
    {
        <p class="validation_error">@ViewBag.errors</p>
    }

    <input type="hidden" name="ucetID" value="@Model.ucetID" />
    <input type="hidden" name="date_closed" value="@DateTime.Now.ToString()" />
    <label for="name">Název</label>
    <input type="text" name="name" value="@Model.name" disabled />
    <br />
    <input type="submit" value="Smazat" />
</form>
