@model Cajovna.Models.Stul

<div id="breadcrumbs">
    <a href="@Url.Action("Index", "Stul")"><img src="~/Content/Images/arrow_back.png" height="20" width="20" alt="o úroveň výš" /></a>
    @Html.ActionLink("Admin", "Admin", "Home")
    >>
    @Html.ActionLink("Stoly", "Index", "Stul")
    >>
    @Html.ActionLink("Stůl #" + Model.stulID, "Detail", "Stul", new { id = Model.stulID }, null)
    >>
    @Html.ActionLink("Smazat záznam", "Delete", "Stul", new { id = Model.stulID }, null)
</div>

<h2>Smazat záznam o stole #@Model.stulID</h2>

<form action="/Stul/Delete/@Model.stulID" method="post">
    @if (!String.IsNullOrEmpty(ViewBag.errors))
    {
        <p class="validation_error">@ViewBag.errors</p>
    }

    <input type="hidden" name="stulID" value="@Model.stulID" />
    <label for="name">Název</label>
    <input type="text" name="name" value="@Model.name" disabled />
    <br />
    <input type="submit" value="Smazat" />
</form>
