@model Cajovna.Models.Stul

<div id="breadcrumbs">
    <a href="@Url.Action("Index", "Stul")"><img src="~/Content/Images/arrow_back.png" height="20" width="20" alt="o úroveň výš" /></a>
    @Html.ActionLink("Admin", "Admin", "Home")
    >>
    @Html.ActionLink("Stoly", "Index", "Stul")
    >>
    @Html.ActionLink("Stůl #" + Model.stulID, "Detail", "Stul", new { id = Model.stulID }, null)
</div>

<h2>Stůl #@Model.stulID @(String.IsNullOrEmpty(Model.name) ? "" : " - " + Model.name)<small>(Stůl #@Model.stulID - @Html.ActionLink("Editovat", "Edit", "Stul", new { id = Model.stulID }, null) - @Html.ActionLink("Smazat", "Delete", "Stul", new { id = Model.stulID }, null))</small></h2>

@{List<Cajovna.Models.Ucet> ucty = Model.ucty.Where(a => a.date_closed == null).ToList(); }

<table>
    <thead>
        <tr>
            <th>Otevřené účty</th>
            <th>Datum přidání</th>
            <th><strong>Počet záznamů: @ucty.Count</strong></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Cajovna.Models.Ucet ucet in ucty)
        {
            <tr>
                <td>
                    @Html.ActionLink("Účet #" + ucet.ucetID + (String.IsNullOrEmpty(ucet.name) ? "" : " - " + ucet.name), "Detail", "Ucet", new { id = ucet.ucetID }, null)
                </td>
                <td>@ucet.date_added.ToString("dd\\/M\\/yyyy")</td>
                <td>
                    @Html.ActionLink("Detail", "Detail", "Ucet", new { id = ucet.ucetID }, null) | @Html.ActionLink("Editace", "Edit", "Ucet", new { id = ucet.ucetID }, null) | @Html.ActionLink("Smazání", "Delete", "Ucet", new { id = ucet.ucetID }, null)
                </td>
            </tr>
        }
    </tbody>

</table>
